a.header-links {
    color: inherit;
    text-decoration: inherit;
}

.photo-container {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    right: 360px;
    background: black;
}

.photo-container > img.photo {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.metadata-container {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    width: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}

.metadata-container section {
    position: absolute;
    width: 100%;
    height: 100%;
	z-index: 0;
    background: white;
    transform: translateX(-360px);
    cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-duration: 500ms;
}

.metadata-container section:first-child {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    z-index: 0 !important;
}

.metadata-container section:target {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    z-index: 2;
}

.title {
    padding: 8px 20px 8px 32px;
    font: 500 20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.title-center {
    font: 500 11px/18px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-align: center;
}

.sub-title {
    padding: 14px 32px;
    font: 500 13px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.info-container {
    align-items: center;
    padding: 4px 32px;
}

.info-table {
    width: 100%
}

.mdl-data-table {
    font-size: 11px !important;
}

.info-text {
    color: rgba(0,0,0,0.54);
    font-size: 11px;
}

.info-container > .info-title {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    padding-right: 20px;
    display: inline-block;
    text-align: right;
}

.info-container > .slider {
    width: 130px;
    display: inline-block;
    vertical-align: middle;
    height: 4px;
    background: linear-gradient(to right, #535353 0%, #DDDDDD 100%);
    border: 1px rgba(0, 0, 0, 0.54) solid;
    border-radius: 4px;
}
.slider.reverse {
    background: linear-gradient(to left, #535353 0%, #DDDDDD 100%);
}
.slider.outwards {
    background: radial-gradient(#DDDDDD, #535353);
}
.slider.temperature {
    background: linear-gradient(to right, #2C2E82 0%, #969497 50%, #838334 100%);
}
.slider.tint {
    background: linear-gradient(to right, #71C970 0%, #969497 50%, #C96FC8 100%);
}
.slider.saturation {
    background: linear-gradient(to right, #969497 0%, #ADBB96 50%, #84C0A1 70%, #A569CF 90%, #DA738B 100%);
}
.slider.hue-red {
    background: linear-gradient(to right, #BE437F 0%, #BF4159 25%, #BD4745 50%, #A77765 75%, #BD8348 100%);
}
.slider.hue-orange {
    background: linear-gradient(to right, #BD4645 0%, #BD6247 25%, #BD8448 50%, #BCAA4c 75%, #BBB94F 100%);
}
.slider.hue-yellow {
    background: linear-gradient(to right, #BD7A48 0%, #BC994A 25%, #BBAB4E 50%, #B9B84C 75%, #91BB4C 100%);
}
.slider.hue-green {
    background: linear-gradient(to right, #AABB4D 0%, #A3BB4d 25%, #52BC4A 50%, #48BD70 75%, #4ABCA7 100%);
}
.slider.hue-aqua {
    background: linear-gradient(to right, #68BB4D 0%, #52B962 25%, #4ABC9c 50%, #48A8BD 75%, #4150BF 100%);
}
.slider.hue-blue {
    background: linear-gradient(to right, #48BD79 0%, #4ABC9F 25%, #6486A6 50%, #4363BE 75%, #6148BC 100%);
}
.slider.hue-purple {
    background: linear-gradient(to right, #5246BD 0%, #7246BD 25%, #B848BB 50%, #BD4594 75%, #BE436D 100%);
}
.slider.hue-magenta {
    background: linear-gradient(to right, #9748BC 0%, #b848BC 25%, #BC448A 50%, #BF415E 75%, #BF4145 100%);
}
.slider.saturation-red {
    background: linear-gradient(to right, #636363 0%, #6E6161 25%, #907C7C 50%, #BA5F60 75%, #C56768 100%);
}
.slider.saturation-orange {
    background: linear-gradient(to right, #656562 0%, #766D60 25%, #8d755C 50%, #AF895B 75%, #C39A6B 100%);
}
.slider.saturation-yellow {
    background: linear-gradient(to right, #656262 0%, #777461 25%, #94895C 50%, #B5A562 75%, #C2b46E 100%);
}
.slider.saturation-green {
    background: linear-gradient(to right, #646464 0%, #687960 25%, #71955C 50%, #78AA5C 75%, #87C264 100%);
}
.slider.saturation-aqua {
    background: linear-gradient(to right, #636663 0%, #5E827D 25%, #5a998d 50%, #5DB0A0 75%, #63C4B2 100%);
}
.slider.saturation-blue {
    background: linear-gradient(to right, #626666 0%, #5B7183 25%, #5a8098 50%, #5C8EB1 75%, #68A0C4 100%);
}
.slider.saturation-purple {
    background: linear-gradient(to right, #666363 0%, #755E78 25%, #805D84 50%, #A05BAB 75%, #B76BC2 100%);
}
.slider.saturation-magenta {
    background: linear-gradient(to right, #656562 0%, #75606B 25%, #8f5C7C 50%, #B65D90 75%, #C4689B 100%);
}
.slider.sharpening {
    background: linear-gradient(to right, #636363 0%, #6E6161 50%, #907C7C 70%, #BA5F60 90%, #C56768 100%);
}

.slider-handle {
    display: inline-block;
    position: relative;
    height: 10px;
    width: 4px;
    top: -6px;
    background: #BBBBBB;
    border: 1px rgba(0, 0, 0, 0.54) solid;
    border-radius: 4px;
}

.info-container > .info-value {
    display: inline-block;
    padding-left: 10px;
    float: right;
}

.tonecurve {
    margin: 8px 32px 8px 32px;
    border: 1px #DDDDDD solid;
}

.tonecurve-curve {
    stroke: #888888;
    fill: none;
    stroke-width: 1;
    stroke-linejoin: round;
}
.tonecurve-curve.curve-red {
    stroke: #BA5F60;
}
.tonecurve-curve.curve-green {
    stroke: #78AA5C;
}
.tonecurve-curve.curve-blue {
    stroke: #5C8EB1;
}

.tonecurve-point {
    fill: #BBBBBB;
    stroke: #888888;
}
.tonecurve-point.p-red {
    stroke: #BA5F60;
    fill: #ED9293;
}
.tonecurve-point.p-green {
    stroke: #78AA5C;
    fill: #ABDD8F;
}
.tonecurve-point.p-blue {
    stroke: #5C8EB1;
    fill: #8FC1E4;
}
