<!doctype html>
<html lang="en">
<head>
    <title>Portra</title>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>

    <!-- material design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-deep_purple.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body class="bg-light">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout-icon">
            <a class="header-links"
                href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/portra.svg') }}">
            </a>
        </div>

        <div class="mdl-layout__header-row">
            <a class="header-links"
                href="{{ url_for('home') }}">
                <span class="mdl-layout-title" style="padding:20px">Portra</span>
            </a>

            <div class="mdl-layout-spacer"></div>

            <form method=post enctype=multipart/form-data>
                <label for="image-upload"
                    class="mdl-button button-upload">
                    Upload
                </label>

                <input id="image-upload" class="file-"
                    type=file name=file
                    onchange="this.form.submit();"
                    style="display: none">
            </form>

            {% if image_url %}
            <button id="button-view"
                class="mdl-button mdl-js-button mdl-js-ripple-effect">
                View
            </button>
            {% else %}
            <button disabled id="button-view"
                class="mdl-button mdl-js-button mdl-js-ripple-effect">
                View
            </button>
            {% endif %}
            {% if image_url %}
            <button id="button-export"
                class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Export
            </button>
            {% else %}
            <button disabled id="button-export"
                class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Export
            </button>
            {% endif %}

            <a href="https://github.com/raymondnumbergenerator/portra">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">Github</button>
            </a>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="button-export">
                {% if image_url %}
                <a class="header-links" href="{{ request.path }}/xmp"><li class="mdl-menu__item">XMP Sidecar</li></a>
                {% else %}
                <li disabled class="mdl-menu__item">XMP Sidecar</li>
                {% endif %}

                {% if lightroom %}
                <a class="header-links" href="{{ request.path }}/tc"><li class="mdl-menu__item">Tone Curves</li></a>
                <a class="header-links" href="{{ request.path }}/lrt"><li class="mdl-menu__item">Lightroom Settings</li></a>
                {% else %}
                <li disabled class="mdl-menu__item">Tone Curves</li>
                <li disabled class="mdl-menu__item">Lightroom Settings</li>
                {% endif %}
            </ul>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="button-view">
                <a class="header-links" href="#basic"><li class="mdl-menu__item">Basic Metadata</li></a>

                {% if exif %}
                <a class="header-links" href="#detailed"><li class="mdl-menu__item">Detailed Metadata</li></a>
                {% else %}
                <li disabled class="mdl-menu__item">Detailed Metadata</li>
                {% endif %}

                {% if lightroom %}
                <a class="header-links" href="#lr"><li class="mdl-menu__item">Lightroom Settings</li></a>
                {% else %}
                <li disabled class="mdl-menu__item">Lightroom Settings</li>
                {% endif %}
            </ul>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>
